DATABASE_URL=postgres://73e1cc3616407edb50ca1467e6923273eee1693e63a866d8e04d6ed1fcaefc77:sk_pg6rn9f91rJcPSeCfP_OM@db.prisma.io:5432/postgres?sslmode=require
PORT=5000
NODE_ENV=production
GEMINI_API_KEY=your_gemini_api_key_here
SERPAPI_API_KEY=your_serpapi_key_here
